spring:
  application:
    name: iot-device
dubbo:
  application:
    name: iot-device
  registry:
    address: nacos://101.42.157.163:8848
    username: nacos
    password: nacos
    register-mode: instance
  protocol:
    name: tri
    port: 50052
logging:
  # 2. 级别改为 INFO 或 ERROR
  level:
    com.ncwu.watergateway: error
    org.springframework.cloud.gateway: error
  # 3. 压测时尽量关闭控制台彩色日志输出，减少 CPU 消耗
# Actuator 配置
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always
  prometheus:
    metrics:
      export:
        enabled: true
server:
  tomcat:
    threads:
      max: 5000